#wrapper {
    background-color: aqua;
    margin: 0 auto;
    min-width: 90vw;
    min-height: 90vh;
    border: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;

}

.one,
.two,
.three,
.four {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

